:root {
--text-color: #212121;
--accent-color: #2196F3;
--text-contacts-color: #757575;
--main-background-color: #FFFFFF;
--frame-background-color: #F5F4FA;
--footer-background-color: #2F303A;
 }
body {
    font-family: Roboto, sans-serif ;
    background-color: var(--main-background-color);
    color: var(--text-color) ;
}
.logo{
    color: var(--accent-color);
    font-family: Raleway, sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-black {
    color: var(--text-color);
}
.logo-white {
    color: var(--main-background-color); 
}
.navigation {
    text-decoration: none;
}
.navigation:hover {
    color: var(--accent-color);
}
.navigation:focus {
    color: var(--accent-color);
}
.list {
    background-color: var(--frame-background-color);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
.list:hover {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}
.list:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}
.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-background-color);
    text-decoration: none;
}
.contacts-header {
    color: var(--text-contacts-color);
}
.contacts:hover{
    color: var(--accent-color);
}
.contacts:focus{
    color: var(--accent-color);
}
button {
    cursor: pointer;
}
li {
    list-style: none;
}
.main-section{
    background-color: var(--footer-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-background-color);
}
.button-main {
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background-color);
    }
    h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}
.skill-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    color: var(--text-contacts-color);
}
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-contacts-color);
    }
    .projects {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
         color: var(--text-color);
    }
    footer {
        background-color: var(--footer-background-color);
    }
    .projects-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--text-contacts-color);
    }
    
